.lk .input {
    padding-left: 16px;
}
.lk-personal {
    background-color: #fff;
    padding: 0 56px;
    border-radius: var(--main-radius);
}
.personal-password {
    border: none;
}
.bb-grey {
    border-bottom: 1px solid #BECCD2;
}

/*personal-info*/
.personal-info__title {
    grid-column: 1/9;
    grid-row: 1/1;
    margin-bottom: 16px;
}
.personal-info__body {
    grid-column: 1/9;
}
.personal-info__img {
    grid-column: 14/17;
    justify-self: end;
    grid-row: 1/1;
}
.lk-main__agree-loader {
    display: block;
    margin: auto;
}

/*personal-per*/

.personal-per__title {
    grid-row: 1/1;
    grid-column: 1/17;
}
.personal-per__body {
    grid-row: 2/3;
    grid-column: 1/17;
    display: grid;
    column-gap: 28px;
    grid-template-columns: 3fr 2fr;
}
.personal-per .lk-info {
    justify-self: end;
}
.personal-per .tab {
    font-size: 14px;
    margin-right: 18px;
}
.personal-per .tab:last-child {
    margin-right: 0;
}

/*personal-con*/
.personal-con:last-child {
    border-bottom: none;
}
.personal-con__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 28px;
    row-gap: 32px;
}

/*personal-address*/
.personal-address__row {
    display: grid;
    column-gap: 28px;
    align-items: end;
    grid-template-columns: 11fr 5fr;
}
.lk .select__label {
    
}

/*personal-rek*/

.personal-rek__row {
    display: grid;
    column-gap: 28px;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 32px;
}

/*personal-btns*/
.personal-btns {
    display: grid;
    grid-template-columns: 9fr 7fr;
    align-items: center;
    column-gap: 28px;
}

/*lk-agree*/
.lk-agree {
    padding: 0 56px;
    background-color: #fff;
    border-radius: var(--main-radius);
}
.lk-agree .personal-rek {
    border-bottom: 1px solid #BECCD2;  
}

/*lk-agree-service*/
.lk-agree-service__item {
    grid-column: 1/11;
}

/*lk-agree-field*/
.lk-agree-field:last-child {
    margin-bottom: 0;
}
.lk-agree-field__file {
    grid-column: 1/11;
}
.lk-agree-field__input {
    grid-column: 1/11;
}
.lk-agree-field__text {
    grid-column: 1/17;
}

/*lk-agree-account*/
.lk-agree-account .radio-container {
    grid-column: 1/11;
}

/*lk-agree-btns*/
.lk-agree-btns {
    padding-top: 32px;
}
.lk-agree-btns__text {
    grid-column: 1/10;
    align-self: center;
}
.lk-agree-btns__btn {
    grid-column: 10/17;
}



@media screen and (min-width: 1920px) {
    /*personal-info*/
    .personal-info__text {
        font-size: 18px;
    }

    /*personal-con*/
    .personal-con__body {
        column-gap: 100px;
    }

    /*personal-address*/
    .personal-address__row {
        grid-template-columns: 10fr 5fr;
    }

    /*personal-btns*/
    .personal-btns {
        grid-template-columns: 10fr 6fr;
    }

    /*lk-agree-service*/
    .lk-agree-service__item {
        grid-column: 1/8;
    }

    /*lk-agree-field*/
    .lk-agree-field__file {
        grid-column: 1/8;
    }
    .lk-agree-field__input {
        grid-column: 1/8;
    }
    .lk-agree-field__text {
        grid-column: 1/14;
    }

    /*lk-agree-btns*/
    .lk-agree-btns__btn {
        grid-column: 11/17;
    }
}

@media screen and (max-width: 1279px) {
    .lk-personal {
        padding: 0 28px;
    }

    /*personal-info*/
    .personal-info__body {
        grid-column: 1/15;
    }
    .personal-info__img {
        grid-column: 20/23;
        width: 88px;
        height: 88px;
    }
    /*personal-address*/
    .personal-address__row {
        row-gap: 32px;
        grid-template-columns: 14fr 7fr;
    }

    /*personal-btns*/
    .personal-btns {
        grid-template-columns: 10fr 14fr;
    }

    /*lk-agree-service*/
    .lk-agree {
        padding: 0 28px;
    }
    .lk-agree-service__item {
        grid-column: 1/15;
    }

    /*lk-agree-field*/
    .lk-agree-field__file {
        grid-column: 1/15;
    }
    .lk-agree-field__input {
        grid-column: 1/15;
    }
    .lk-agree-field__text {
        grid-column: 1/23;
    }

    /*lk-agree-account*/
    .lk-agree-account .radio-container {
        grid-column: 1/20;
    }

    /*lk-agree-btns*/
    .lk-agree-btns__text {
        grid-column: 1/10;
    }
    .lk-agree-btns__btn {
        grid-column: 13/23;
    }
}

@media screen and (max-width: 767px) {
    .lk-personal {
        padding: 0;
    }

    /*personal-info*/
    .personal-info__body {
        grid-column: 1/11;
    }
    .personal-info__img {
        grid-column: 11/14;
        width: 47px;
        height: 47px;
        align-self: end;
    }

    /*personal-per*/
    .personal-per__body {
        grid-template-columns: 1fr;
    }
    .personal-per .tabs {
        margin-bottom: 24px;
    }
    .personal-per .tab {
        margin-right: 0;
    }

    /*personal-con*/
    .personal-con__body {
        grid-template-columns: 1fr;
        row-gap: 24px;
    }

    /*personal-address*/
    .personal-address__row {
        row-gap: 24px;
        grid-template-columns: 1fr;
    }
    

    /*personal-rek*/
    .personal-rek__row {
        grid-template-columns: 1fr;
        row-gap: 24px;
    }

    /*personal-btns*/
    .personal-btns {
        grid-template-columns: 1fr;
    }
    .personal-btns .btn {
        grid-row: 1/1;
        margin-bottom: 24px;
    }

    /*lk-agree-service*/
    .lk-agree {
        padding: 0;
    }
    .lk-agree-service {
        display: block;
    }
    .lk-agree-service__item {
        grid-column: 1/14;
    }

    /*lk-agree-field*/
    .lk-agree-field__file {
        grid-column: 1/14;
    }
    .lk-agree-field__input {
        grid-column: 1/14;
    }
    .lk-agree-field__text {
        grid-column: 1/14;
    }
    .lk-agree-field .main-text {
        font-size: 14px;
    }

    /*lk-agree-account*/

    .lk-agree-account .radio-container {
        grid-column: 1/14;
    }

    /*lk-agree-btns*/
    .lk-agree-btns {
        row-gap: 24px;
    }
    .lk-agree-btns__text {
        grid-column: 1/14;
        grid-row: 2/3;
    }
    .lk-agree-btns__btn {
        grid-column: 1/14;
        grid-row: 1/1;
    }
}